:root {
    --p-border-radius-none: 3px !important;
    --p-border-radius-xs: 3px !important;
    --p-border-radius-sm: 3px !important;
    --p-border-radius-md: 3px !important;
    --p-border-radius-lg: 3px !important;
    --p-border-radius-xl: 3px !important;
}

.p-password {
    display: contents !important;
}

.p-password.w-full .p-password-input {
    width: 100%;
}